@use 'styles/abstracts' as a;

button {
  @include a.flex-between;
  width: 100%;
  border: none;
  background-color: a.$color-base;
  padding: 0.5em 1em;
  border-radius: a.$bdrs-sm;
  font-size: clamp(0.75em, 3vw, 1.3em);
  cursor: pointer;

  .title {
    color: a.$color-title;
  }

  .icon {
    transition: transform 0.2s ease-in-out;
    width: 1em;
  }
}
